.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.step-avatar {
    color: #fff!important;
    background-color: #a8cf45!important;
}

.list-wrapper {
    z-index: 10000;
    overflow: scroll;
    max-height: 36vh;
    background: #fbfbfb;
}

.card-step-rating-wrapper {
    padding-bottom: 0!important;
}

.video-card {
    box-shadow: none!important;
}

.video-card .comment-section .add-comment,
.video-card .comment-section .single-comment {
    display: flex;
    padding-top: 16px;
}

.video-card .comment-section .card-avatar {
    margin-right: 16px;
}