.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.step-avatar {
    color: #fff!important;
    background-color: #0eab55!important;
    align-self: baseline!important;
    margin-top: 5px;
}

.list-wrapper {
    z-index: 10000;
    overflow-y: scroll;
    max-height: 36vh;
    background: #E8F5E9;;
    overflow-x: hidden;
}

.card-step-rating-wrapper {
    padding-bottom: 0!important;
}

.video-card {
    box-shadow: none!important;
}

.video-card .comment-section .add-comment,
.video-card .comment-section .single-comment {
    display: flex;
    padding-top: 16px;
}

.video-card .comment-section .card-avatar {
    margin-right: 16px;
}

.current-step-font p,
.current-step-font span {
    color: #fff!important;
}

.current-step-avatar {
    color: rgba(0, 0, 0, 0.54)!important;
    background-color: #ffffff!important;
    align-self: baseline!important;
    margin-top: 5px;
}

.step-card-details {
    padding-top: 20px;
}

.step-card-details > div {
    margin-bottom: 20px;
}

.step-card-timestamps {
    display: flex;
    margin-top: 16px;
}

.step-card-timestamps div {
    flex-basis: 50%;
}

.step-card-timestamps .step-card-timestamp:first-child {
    margin-right: 30px;
}

.maker-created-step-times > span {
    display: flex;
    padding-left: 72px;
}

.maker-created-step-times > span h3:first-child {
    margin-right: 16px;
}